root=true

[*.sh]
indent_style = space
indent_size = 2
space_redirects = true

[{.bashrc.d,.profile.d,.local/bin,install/parts.d,install/bins.d}/**]
indent_style = space
indent_size = 2
space_redirects = true
